---
import MainLayout from '../layouts/Main.astro';
---
<ul>
    <li><a href="/impact">Impacts</a></li>
    <li><a href="/ecosystem">Ecosystems</a></li>
    <li><a href="/activity">Activities</a></li>
</ul>
