---
import '../base.css';
import Tree from '../components/tree/Tree.astro'
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Regen Data Standards</title>
</head>
<body>
<Tree items={[
    {title: "Foo", items: [
        {title: "Foo 1"},
        {title: "Foo 2",
            items: [
                {title: "Foo 2.1"},
                {title: "Foo 2.2"},
            ]
        },
        {title: "Foo 3"},
    ]},
    {title: "Bar"},
]} />
</body>
</html>