---
import '../base.css';
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Regen Data Standards</title>
</head>
<body>
<details open class="pl-8">
    <summary>Click to expand!</summary>
    <p>Some hidden content...</p>
    <details open class="pl-8">
        <summary>Click to expand!</summary>
        <p>Some hidden content...</p>
        <details open class="pl-8">
            <summary>Click to expand!</summary>
            <p>Some hidden content...</p>
        </details>
    </details>
</details>
</body>
</html>