---
const {href, className} = Astro.props
const {pathname} = Astro.url
const pathSlug = pathname.replace(/\.html/, '');
---
<a href={href} class={className} data-current={pathSlug == href} data-astro-prefetch>
    <slot />
</a>