---
import {Image} from "astro:assets";
import List from './Sidebar.list.astro';
import {getCollection} from 'astro:content';
const impacts = await getCollection('impact');
const ecosystems = await getCollection('ecosystem');
---
<nav class="w-60 border-grey-200 border-r-2 p-4">
    <ul class="flex flex-col gap-4">
        <List collection={impacts} path="/impact" heading="Impacts" />
        <List collection={ecosystems} path="/ecosystem" heading="Ecosystems" />
    </ul>
</nav>