---
import '../base.css'
import Sidebar from '../components/sidebar/Sidebar.astro'
import Topbar from "../components/topbar/Topbar.astro";
const {title} = Astro.props;
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
</head>
<body>
<Topbar/>
<div class="flex h-screen">
    <Sidebar/>
    <div class="py-4">
        <slot/>
    </div>
</div>
</body>
</html>