---
import A from './Tree.a.astro';
interface Props {
    title: string
    href?: string
    items?: Props[]
}

export type Item = Props;

const {title, href, items} = Astro.props;
---
<li>
{items && items.length > 0 ? (
<details>
    <summary>
        <A href={href}>{title}</A>
    </summary>
    <ul class="pl-4">
        {items.map((child) => <Astro.self {...child} />)}
    </ul>
</details>
    ) : (<A href={href}>{title}</A>)}
</li>